body{
    background-color:steelblue;
    font-size:14px;
    color:#fff;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 90px;
}

.logoutLblPos{

    position:fixed;
    right:10px;
    top:5px;
 }